.topbar {
  height: 42px;
  z-index: 50;
  position: relative;
  border-bottom: 1px solid #654C81;

  .topbar_dropdown_wrap {
    cursor: pointer;
    border-left: 1px solid #654C81;
    height: 100%;
    float:right;

    .topbar_dropdown {
      padding: 5px 10px 0 20px;
    }

    img {
      border: 3px solid white;
      border-radius: 3px;
      float: left;
    }

    .logged_name {
      color: white;
      float: left;
      margin-left: 20px;
      margin-top: 8px;
      font-size: 15px;
    }

    md-icon {
      position: relative;
      margin-top: 5px;
      float: right;
    }
  }

  .topbar_user_details {
    color: #303030;
    background-color: #32DBBE;
    position: absolute;
    top: 42px;
    right: 0;
    width: 100%;

    .logged_username {
      font-size: 14px;
      display: inline-block;
      padding: 20px 20px 20px 0;
    }

    md-icon {
      margin-left: 20px;
      margin-top: 0;
      float: none;

      svg {
        fill: #543A72;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 20px;
    }

    li {
      margin-bottom: 8px;
      font-size: 12px;
    }

    button {
      color: white;
      background-color: #543A72;
      padding: 4px 8px;
      margin: 10px 20px 10px 20px;
      border: none;
      font-size: 13px;
      text-decoration: uppercase;
      font-weight: 200;
      position: absolute;
      top: 10px;
      right: 30px;
    }
  }
}

@media (min-width: $layout-breakpoint-gt-sm) {
  .topbar {
    height: 65px;

    .topbar_dropdown_wrap {
      width: 230px;

      .topbar_dropdown {
        padding-top: 15px;
      }
    }

    .topbar_user_details {
      width: 230px;
      top: 65px;

      button {
        position: relative;
        top: 0;
        right: 0;
      }
    }
  }
}