@import "variables";

.md-button {
  line-height: inherit;
}

.wrapper {
  max-width: 1240px;
  background-color: #F6F6F6;
  position: relative;
}

.bg_div {
  background-color: #543A72;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 260px;
}

.topbar {
  height: 65px;
  z-index: 100;
  position: relative;
  border-bottom: 1px solid #654C81;

  .topbar_dropdown_wrap {
    cursor: pointer;
    border-left: 1px solid #654C81;
    width: 230px;
    height: 100%;
    float:right;

    .topbar_dropdown {
      padding: 15px 10px 0 20px;
    }

    img {
      border: 3px solid white;
      border-radius: 3px;
      float: left;
    }

    .logged_name {
      color: white;
      display: block;
      float: left;
      margin-left: 20px;
      margin-top: 8px;
      font-size: 15px;
    }

    md-icon {
      position: relative;
      margin-top: 5px;
      float: right;
    }
  }

  .topbar_user_details {
    color: #543A72;
    background-color: #32DBBE;
    position: absolute;
    top: 65px;
    right: 0;
    width: 230px;

    .logged_username {
      padding: 10px;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 10px;
    }

    li {
      margin-bottom: 8px;
    }

    button {
      color: white;
      background-color: #543A72;
      padding: 3px;
      margin: 0;
      padding: 0;
    }
  }
}

.main_content {
  z-index: 10;
}

.users_list_wrap {
  background-color: white;
  max-width: 320px;

  md-list {
    padding: 0;
  }

  md-list-item {
    height: 100px;
    align-items: flex-start;
    padding-right: 0;
    border-bottom: 1px solid #f7f7f7;

    .md-button {
      padding: 0;
    }

    .md-list-item-inner {
      height: 100%;
      align-items: initial;
    }

    .user_details {
      margin-left: 17px;
      margin-top: 20px;

      span {
        display: block;
      }
    }

    .user_name {
      font-size: 16px;
      margin: 0 0 3px 0;
      padding: 0;
    }

    .user_username {
      color: #6B5686;
      font-size: 12px;
    }

    .user_email {
      color: #000;
      font-weight: 400;
      font-size: 12px;
      margin-top: 10px;

      span {
        display: inline-block;
        position: relative;
        top: 2px;
      }

      svg {
        margin-right: 10px;
        fill: #32DBBE;
      }
    }

    .list_indicator {
      width: 20px;
      height: 100%;
      position: relative;

      &.selected {
        background-color: #32DBBE;

        md-icon svg {
          fill: #fff;
        }
      }

      md-icon {
        position: absolute;
        top: 35px;
        left: -1px;

        svg {
          fill: #6B5686;
        }
      }
    }
  }

  img {
    padding: 5px;
    margin-top: 15px;
    width: 60px;
    height: 60px;
    border: 1px solid #f7f7f7;
    border-radius: 5px;
  }
}

.users_page {
  z-index: 10;
  padding: 93px 30px 30px 50px;

  .selected_user_bio {
    margin-bottom: 25px;

    .user_photo {
      border: 10px solid #fff;
      border-radius: 5px;
      width: 130px;
      height: 130px;
    }

    .user_details {
      padding-left: 20px;

      .user_name {
        color: #fff;
        font-size: 28px;
        line-height: 28px;
        font-weight: 400;
        margin: 0 0 8px 0;
      }

      .user_website {
        color: #32DBBE;
      }

      .user_company {
        color: white;
        font-size: 13px;
        margin-top: 17px;

        :after {
          content: '/';
          font-weight: 400;
          margin-left: 8px;
          margin-right: 8px;
        }
      }
    }
  }

  .user_content {
    .users_posts {

      md-list-item {
        margin-top: 17px;
        margin-bottom: 20px;
        padding: 0;
        align-items: flex-start;
        background: #fff;
      }

      .divider {
        display: block;
        border-top: 1px solid #f6f6f6;
        width: 100%;
      }

      md-icon {
        svg {
          fill: #32DBBE;
        }
      }

      .post_title {
        position: relative;
        padding: 20px 30px;
        display: block;
        font-size: 22px;
        line-height: 30px;
        text-align: left;

        &:before {
          position: absolute;
          width: 8px;
          height: 48px;
          background-color: #32DBBE;
          top: 24px;
          left: 0px;
          content: '';
        }
      }

      .post_body {
        display: block;
        font-size: 13px;
        line-height: 22px;
        padding: 0 30px 18px 30px;
      }

      .comments_info {
        font-size: 13px;
        width: 100%;

        span {
          display: inline-block;
        }

        .comments_count {
          display: inline-block;
          float: left;
          margin-top: 18px;
          margin-bottom: 16px;
          padding-left: 30px;

          md-icon {
            margin-right: 10px;
          }
        }

        .comments_controls {
          display: inline-block;
          float: right;
          text-align: right;
          margin-top: 18px;
          margin-bottom: 16px;
          padding-right: 30px;
          cursor: pointer;

          md-icon {
            margin-left: 15px;
          }
        }
      }

      .post_comments_list {
        background-color: #fff;
        padding: 25px 28px;
        font-size: 13px;

        md-list-item {
          margin-bottom: 5px;
          margin-top: 0;
          background-color: #f6f6f6;
          padding: 25px;
        }

        .comment_body {
        }

        .comment_email {
          margin-top: 20px;

          md-icon {
            margin-right: 10px;
          }
        }
      }
    }

    .users_photos {
      width: 100%;

      .users_photos_wrap {
        background: #fff;
        margin-top: 24px;
        text-align: center;
      }

      .users_photos_list {
        padding: 14px;
      }

      div {
        padding: 4px;
        display: inline-block;

        img {
          width: 80px;
          height: 80px;
          padding: 4px;
          border: 1px solid #f7f7f7;
          background-color: white;
          cursor: pointer;
        }
      }

      .users_photos_load {
        color: white;
        background-color: #32DBBE;
        padding: 12px 28px;
        border-radius: 3px;
        font-size: 13px;
        font-weight: 700;
        margin: 16px 0;
        border: none;
        text-transform: uppercase;
      }
    }

    h6 {
      text-transform: uppercase;
      margin: 0;
      font-size: 14px;
      font-weight: 400;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 20px;
        width: 20px;
        height: 3px;
        background-color: #32DBBE;
      }
    }
  }
}

@media (min-width: $layout-breakpoint-gt-sm) {
  .users_page {
    .user_content {
      .users_photos {
        width: 270px;
        margin-left: 30px;

        div img {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}